@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
  }

$cor-principal: #122620;
$cor-span: #303437;
$font-principal: 'Libre Baskerville', serif;